doctype html
HTML
  HEAD
    //- TODO: <title>%s (%s)</title>
    TITLE Layer: #{json.name} (ID:#{layerid})
    LINK(href='#{baseUrl}/ESRI.ArcGIS.SDS.REST.css',rel='stylesheet',type='text/css')
    META(charset='utf-8')
    META(name='viewport',content='width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no')
    META(http-equiv='x-ua-compatible', content='ie=edge')

  BODY
    TABLE.userTable(width='100%')
      TR
        TD.titlecell ArcGIS REST Services Directory
    TABLE.navTable(width='100%')
      TBODY
        TR(valign='top')
          TD.breadcrumbs
            A(href='#{baseUrl}') Home 
            | &nbsp;&gt;&nbsp;
            A(href='#{baseUrl}#{servicesUrl}') services 
            | &nbsp;&gt;&nbsp;
            A(href='#{baseUrl}#{thisServiceUrl}') #{serviceName} (Feature Server) 
            | &nbsp;&gt;&nbsp;
            A(href='#{baseUrl}#{fullLayerUrl}') Layer: #{json.name} (ID:#{layerid})
          TD(align=right)
            A(href='?f=help',target='_blank') API Reference
    TABLE
      TR
        TD.apiref
          A(href='?f=pjson',target='_blank') JSON
    .restHeader
      H2 Layer: #{json.name} (ID:#{layerid})
    .restBody
      B View In: 
      A(href='http://www.arcgis.com/home/webmap/viewer.html?url=#{fullLayerUrl}&source=sd',target='_blank') ArcGIS.com Map 
      | &nbsp;&nbsp;
      A(href='#{baseUrl}/webmaps/jsapi/index.html?url=#{fullLayerUrl}&source=sd',target='_blank') Esri JS API Map 
      | &nbsp;&nbsp;
      A(href='#{baseUrl}/webmaps/esri-leaflet/index.html?url=#{fullLayerUrl}&source=sd',target='_blank') Esri Leaflet Map 
      | &nbsp;&nbsp;
      A(href='http://explorer.arcgis.com/?url=#{fullLayerUrl}&source=sd',target='_blank') ArcGIS Explorer Online 
      | <BR/><BR/>
      | !{layerItem}
      B Supported Operations: 
      A(href='#{baseUrl}#{queryUrl}') Query
